<div class="w-screen h-screen bg-gray-50 relative">
  <div class="absolute w-full h-full hidden sm:block">
    <img class="absolute w-96 left-0 bottom-0" src="/assets/svg/login-bg-left.svg" alt="bg left">
    <img class="absolute w-96 right-0 bottom-0" src="/assets/svg/login-bg-rigth.svg" alt="bg right">
  </div>

  <div class="relative w-full sm:w-7/12 md:w-6/12 lg:w-4/12 m-auto">
    <app-header></app-header>

    <div class="bg-white rounded shadow py-4 px-6">
      <div class="mb-4">
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</div>
